@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Permanent Marker", cursive;
}

header {
    background-color: black;
    padding-top: 50px;
}

header h1 {
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 10vw;
}

header p {
    text-align: center;
    color: white;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p > a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

section.imagem {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.469);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border-radius: 10px;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
}

section#img02{
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    padding: 10px
}

footer p {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}